<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Song</title>
</head>

<body>
<div class = "container">
    <h3>Song Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Song</p>

    <form action="#" th:action="@{/api/song/save}" th:object="${song}" method="POST">

        <!-- hidden id is needed for updating -->
        <input type="hidden" th:field = "*{id}">
        <input type="text" th:field="*{author}" class="form-control mb-4 w-25" placeholder="Author" >
        <input type="text" th:field="*{title}" class="form-control mb-4 w-25" placeholder="Title">
        <input type="text" th:field="*{album}" class="form-control mb-4 w-25" placeholder="album">
        <select th:field="*{genre}">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.getName()}"></option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href ="@{/api/song}">Back to Song List</a>
</div>

</body>

</html>